@import "~bootstrap/scss/bootstrap";
$primary-color: #24b1a1;
$secundary-color: #3f505c;

#subscribe{
  height: 180px;
  background-color: #334e5b;
}
@font-face {
  font-family: futureEarth;
  src: url('/src/style/Future-Earth.ttf');
}
.aboutimg {
  width: 90%;
}
.card-img-top {
  width: 100%;
}
.lead {
  font-size: initial;
}
.hrseparator {
    width: 50px;
    background-color: $primary-color;
    height: 1px;
}
.htittles {
  font-family: 'Roboto', sans-serif;
  color: $secundary-color;
}
// .entradas{
//   padding: 4%;
// }

// .navbar .navbar-expand:{
//   // background-color:$secundary-color !important;
// }
.card-more{
  margin-bottom: 50px;
  color: $primary-color;
  font-size: smaller;
  font-weight: bold;
}
.card p{
    margin-bottom: 0px;
}
.card-text {
  margin-top: 10px;
  color: $secundary-color;
}
.card-date{
  font-size: smaller;
  color: $secundary-color;
}
.card-tag{
  font-size: smaller;
  color: $primary-color
}
.card-title  {
  margin-bottom: 0px;
  font-size: x-large;
  color: #344a55;
  font-weight: bold;
}
 .entry-card {
    margin-right: 2%;
    margin-left: 2%;
 }
 .card-body {
     text-align: left;
     flex: 1 1 auto;
     padding: 1.25rem;
  }
.cardfooter{
  text-align: right;
}
